._3_ae {
  border: 1px solid #dadde1;
  border-radius: 3px;
  border-spacing: 0;
  overflow: hidden;
  text-align: left;
  width: 100%;
}
._3_a- {
  background-color: #f5f7f8;
}
._3_b0 {
  height: 48px;
}
._3_b0 > ._3_a_ {
  border-top: 1px solid #dadde1;
}
._3_a_ {
  padding: 8px 12px;
}
._2ykl,
._2ykn,
._2ykp {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 3px 8px 0 0;
  vertical-align: top;
  width: 10px;
}
._2ykl {
  background-color: #00a400;
}
._2ykn {
  background-color: #ffba00;
}
._2ykp {
  background-color: #bec3c9;
}
._2ykm {
  display: inline-block;
  max-width: 93%;
}
._42qn {
  width: 80px;
}
._42qo {
  max-width: 120px;
}
._1dns {
  display: inline-block;
  max-width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._1dnr {
  display: block;
  min-width: 100px;
}
._9vuc {
  margin-inline-start: 18px;
}
._4-ss {
  border-collapse: 0;
  border-spacing: 0;
  font-size: 12px;
  text-align: left;
  width: 100%;
}
._4-sv {
  background-color: #fff;
  border: 1px solid #ccc;
}
._4-ss > tbody > ._1isx:hover > td,
._4-ss > tbody > ._1isx:hover > th {
  background-color: inherit;
}
._4-ss > tbody > ._1isx:nth-child(even):hover > td,
._4-ss > tbody > ._1isx:nth-child(even):hover > th,
._4-ss > tbody > tr:nth-child(even) > td,
._4-ss > tbody > tr:nth-child(even) > th {
  background-color: #f5f6f7;
}
._4-ss > * > tr > th {
  background: #f5f6f7 url(/rsrc.php/v3/ya/r/HdC8ldMFCH5.png) repeat-x;
  background-clip: padding-box;
  background-position: 0 -76px;
  border-bottom: 1px solid #cdced0;
  color: #4b4f56;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}
._4-ss ._3_6p {
  background: #f5f6f7;
}
._4-ss > * > tr > th._54_8:active {
  background-position: 0 -232px;
}
._4-ss > * > tr > td {
  color: #4b4f56;
}
._4-ss > thead > tr > th {
  vertical-align: bottom;
}
._4-ss ._3_6q {
  vertical-align: middle;
}
._4-ss ._6d41 {
  white-space: normal;
}
._4-ss > * > tr > th,
._4-ss > * > tr > td {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Helvetica, Arial, sans-serif;
  padding: 8px;
}
._4-ss > * > tr > th._5m_a,
._4-ss > * > tr > td._5m_a {
  padding: 0;
}
._4-ss > * > tr > th._73gq,
._4-ss > * > tr > td._73gq {
  padding: 2px;
}
._4-ss > * > tr > th._54_9 {
  color: #4b82fa;
}
._4-ss > * > tr > td.valign-top {
  vertical-align: top;
}
._4-ss > * > tr > td.valign-bottom {
  vertical-align: bottom;
}
._4-ss > thead > tr > th,
._4-ss > thead > tr > td {
  border-bottom: 1px solid #c9ced4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
._4-ss > * > tr > td:first-child,
._4-ss > * > tr > th:first-child {
  border-left: 0;
}
._4-ss > tbody[data-is-row-group] > tr:not(:first-of-type) > td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
._4-ss > thead:first-child > tr > td,
._4-ss > thead:first-child > tr > th,
._4-ss > tbody > tr:first-child > td,
._4-ss > tbody > tr:first-child > th {
  border-top: 0;
}
._4-ss > tbody[data-is-row-group]:hover > tr:first-of-type > td[rowspan],
._4-ss > tbody > tr:hover > td,
._4-ss > tbody > tr:hover > th {
  background-color: #e9ebee;
}
._4-ss > tbody > tr._4jpt > td {
  background-color: #9cb4d8;
}
._4-ss > tbody > tr._73go > td {
  background-color: #ffba00;
}

#bootloader_7J9ijo6 {
  height: 42px;
}
.bootloader_7J9ijo6 {
  display: block !important;
}
